.Header {
    background-color: rgb(186, 230, 245);
    color: #fff;
    min-height: 50px;
    padding: 110px 20px;
    padding-bottom: 140px;
    text-align: center;
}

.scores {
    font-size: 60px;
    font-weight: bold;
    
}

.messageUpdate {
    font-size: 40px;
    font-weight: bold;
}